<link href="css/bootstrap.min.css" rel="stylesheet">   
<link rel="stylesheet" 
href="css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="bootstrap.min.js">
</script>

<p id="notice"><%= notice %></p>

<h2 align="center">Listado de Proyectos</h2>
<table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Codigo</th>
      <th>Responsable</th>
      <th>Titulo</th>
      <th>Duracion</th>
      <th>Estado</th>
      <th>ver proyecto</th>
      <th>Avalar proyecto</th>
      
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.fecha %></td>
        <td><%= proyecto.codigo %></td>
        <td><%= proyecto.responsable %></td>
        <td><%= proyecto.titulo %></td>
        <td><%= proyecto.duracion %></td>
        <td><%= proyecto.estado %></td>
        <td>  <button type="button" class="btn btn-default" onclick="window.location.href='modal'">
      <span  class="glyphicon glyphicon-search" ></span> ver proyecto
    </button></td>
        <td><button type="button" class="btn btn-default" onclick="alert('¿Desea avalar el proyecto?');">
      <span  class="glyphicon glyphicon-ok-circle" ></span> Avalar proyecto
    </button></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Proyecto', new_proyecto_path %>

<script>
$(document).ready(function() {
    $('#myTable').DataTable();
} );

$(document).ready(function() {
    var table = $('#myTable').DataTable();
 
    $('#myTable tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );
 
    $('#button').click( function () {
        table.row('.selected').remove().draw( false );
    } );
} );
</script>