<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @evaluadore.cedula %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @evaluadore.apellido %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @evaluadore.cedula %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @evaluadore.titulo %>
</p>

<p>
  <strong>Especializacion:</strong>
  <%= @evaluadore.especializacion %>
</p>

<p>
  <strong>Maestria:</strong>
  <%= @evaluadore.maestria %>
</p>

<p>
  <strong>Doctorado:</strong>
  <%= @evaluadore.doctorado %>
</p>

<p>
  <strong>Universidad:</strong>
  <%= @evaluadore.universidad %>
</p>

<%= link_to 'Edit', edit_evaluadore_path(@evaluadore) %> |
<%= link_to 'Back', evaluadores_path %>
